# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\ITschool\_Finish_Projects\Ursta_Vsevolod_1_flpflJ\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
